<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span>Copyright &copy; <a title="More info"
                                        href="https://www.youtube.com/embed/NDcQeKD2TO8?si=c7eoeypzdUuMMAjI"
                                        target="_blank">Strongbody - Strongbody -  2025</a></span>
        </div>
    </div>
</footer>
